# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving supermarket_sales.csv to supermarket_sales.csv

In [ ]:
data_path = 'supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [ ]:
df.sort_values('Unit price', ascending=False).head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

In [12]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [15]:
df[df['Product line'] == 'Electronic accessories'].sort_values(['Quantity', 'Unit price'], ascending=[False, False]).head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
105,704-48-3927,A,Yangon,Member,Male,Electronic accessories,88.67,10,44.335,931.035,1/12/2019,14:50,Ewallet,886.7,4.761905,44.335,7.3

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 (включно) до 8 (не включно) - то він середній (`Medium`)
- інакше - низький (`Low`).

In [18]:
def category_mapping(val):
  if val >= 8:
    return 'High'
  elif val >= 6 and val < 8:
    return 'Medium'
  else:
    return 'Low'

In [20]:
df['Rating Category'] = df.Rating.apply(category_mapping)
df[['Rating', 'Rating Category']].head()

   Rating Rating Category
0     9.1            High
1     9.6            High
2     7.4          Medium
3     8.4            High
4     5.3             Low

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [21]:
# 1 спосіб

r_category = df.Rating.value_counts()

In [25]:
r_category / sum(r_category)

Rating
6.0     0.026
6.6     0.024
9.5     0.022
4.2     0.022
5.1     0.021
        ...
5.3     0.011
8.3     0.011
4.0     0.011
4.6     0.008
10.0    0.005
Name: count, Length: 61, dtype: float64

In [24]:
# 2 спосіб

df.Rating.value_counts(normalize=True)

Rating
6.0     0.026
6.6     0.024
9.5     0.022
4.2     0.022
5.1     0.021
        ...
5.3     0.011
8.3     0.011
4.0     0.011
4.6     0.008
10.0    0.005
Name: proportion, Length: 61, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [26]:
time = '11:28'

In [33]:
def get_hour(time_str):
  hour = time_str.split(':')[0]
  return int(hour)

In [34]:
get_hour(time)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [44]:
df['Hour'] = df['Time'].apply(get_hour)
print(df[['Time', 'Hour']].head())

    Time  Hour
0  13:08    13
1  10:29    10
2  13:23    13
3  20:33    20
4  10:37    10

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [45]:
df.Hour.value_counts()

Hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

In [46]:
# я думаю що це цілком логічно що люди найбільше покупок здійснюють саме в районі 19ї години(тобто після роботи),
# в районі 13-15(обідня перерва)
# в районі 10(перед початком роботи)

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [53]:
df.groupby('City')['Total'].mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [74]:
stats = (
    df.groupby('City').agg({
    'Quantity': 'sum',
    'Total': ['mean', 'min', 'max']
})
)
stats.columns = ['sum of purchases', 'average total', 'min total', 'max total']
print(stats)

           sum of purchases  average total  min total  max total
City
Mandalay               1820     319.872506    18.6375    1022.49
Naypyitaw              1831     337.099715    10.6785    1042.65
Yangon                 1859     312.354031    12.6945    1039.29

In [76]:
# Yangon має найбільшу кількість покупок, але найнижчий середній чек
# рекомендація: стимулювати збільшення середнього чеку: пропонувати знижки при покупці кількох товарів, проводити акції «2+1»

# Naypyitaw має найвищий середній чек, хоча покупок трохи менше
# рекомендація: підтримувати поточну стратегію (бо клієнти витрачають більше), також можна додатково збільшити трафік через рекламу чи бонуси за часті покупки

# Mandalay посередині за всіма показниками, рівень продажів стабільний
# рекомендація: можна тестувати нові акції, щоб підняти як кількість покупок, так і середній чек

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [89]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Hour', 'Payment', 'cogs', 'gross margin percentage',
       'gross income', 'Rating', 'Rating Category'],
      dtype='object')

In [90]:
df = df[['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Hour', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating', 'Rating Category']]

In [91]:
df.to_csv('supermarket_sales_enriched.csv', index = False)

In [92]:
pd.read_csv('supermarket_sales_enriched.csv', index_col= 0)

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Hour,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category
Invoice ID,,,,,,,,,,,,,,,,,,
750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,13,Ewallet,522.83,4.761905,26.1415,9.1,High
226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,10,Cash,76.40,4.761905,3.8200,9.6,High
631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,13,Credit card,324.31,4.761905,16.2155,7.4,Medium
123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,20,Ewallet,465.76,4.761905,23.2880,8.4,High
373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,10,Ewallet,604.17,4.761905,30.2085,5.3,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,13,Ewallet,40.35,4.761905,2.0175,6.2,Medium
303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,17,Ewallet,973.80,4.761905,48.6900,4.4,Low
727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,13,Cash,31.84,4.761905,1.5920,7.7,Medium
347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,15,Cash,65.82,4.761905,3.2910,4.1,Low
849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,13,Cash,618.38,4.761905,30.9190,6.6,Medium